@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
  scroll-behavior: smooth;  
}
/*Nav bar styling*/
.navbar {
    background-color: #2acdff;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 15px 0;
    transition: all 0.3s ease;
}
.navbar .companyname{
    color: black;
}
.navbar .menu li a {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    

}

.navbar.sticky .logo a span {
    color: white;
}

.navbar .logo a span {
    color: black;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

/* home section styling */
.home {
    display: flex;
    background: white;
    height: 100vh;
    font-size: 2rem;
    color: black;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.navbar .menu li a:hover {
    color: black;
}

.navbar.sticky .logo a span li a:hover {
    color: white;
}

/* Menu btn styling */
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.home .home-content a{
   display: inline-block; 
   background-color: crimson;
   color: white;
   font-size: 25px;
   padding: 12px 36px;
   margin-top: 20px;
   border-radius: 6px;
   border:2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover {
    background:none;
    color: crimson;
    
}

/* all similar content styling */
section {
    padding: 100px 0;
}
.about,
.services,
.skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* about section styling */


section .title{
    position:relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    height: 3px;
    bottom: 0px;
    left: 50%;
    background: black;
    width: 180px;
    transform: translateX(-50%);
}
section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    background: white;
    transform: translateX(-50%);
}
.about .title::after {
content: "Who I am";
}




.about img{
    margin-left: 2%;
}

/* service section styling */
section.services{

    background-color: #111;
}
section.services .serv-content{
    
    margin: 5%;
    padding: 5%;
    text-align: center;
    background-color: #2acdff;
    border-radius: 4rem;
}
section.services .title{
    color: white;
}

section.services .title::after{
    content: "What I Provide";
}
.projects img{
    margin: 2rem;
}

/* skills section styling */
.skills .title::after{
    content: "What I Know";

}
.skills .skills-content .column{
width: calc(50% - 30px);

}
.skills .skills-content .left .text{
font-size: 20px;
font-weight:600 ;
margin-bottom: 10px;
}
.skills .skills-content .right .bars{
margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items:center ;
}
.skills .skills-content .left p{
 text-align: justify; 

}
.skills .skills-content .left a{
  display: inline-block;  
  background: crimson
  ;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
  color: crimson; 
  background: none;
}
.skills .skills-content .right .info {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}
.skills .skills-content .right span{
font-weight: 500;
font-size: 18px;
}
.skills .skills-content .right .line{
   height:5px ;
   width: 100%; 
   background: lightgrey;
   position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before {
width: 90%;
}
.skills-content .right .css::before {
    width: 70%;
}
.skills-content .right .javascript::before {
    width: 90%;
}
.skills-content .right .java::before {
    width: 90%;
}
.skills-content .right .javafx::before {
    width: 85%;
}
.skills-content .right .mysql::before {
    width: 70%;
}
.skills .bars{
    width: 80vw;
}
/* projects section */
.projects .title::after{
content: "Projects Done";
}
.projects .brands{
    display: flex;
    
}
.projects img{
    width: 60vw;
    height: 60vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
/* team section styling*/
.teams .title::after{
    content: "Those I work with";
}
.teams .carousel .card{
background: #222;
border-radius: 6px;
padding: 25px 35px;
text-align: center;
transition: all 0.3s ease;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: 5px solid crimson;
}
.teams .carousel .card .text{
font-size: 25px;
font-weight: 500;
margin: 10px 0 7px 0;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card:hover img {
border-color: #fff;
}
.owl-dots{
  text-align: center;  
  margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
} 
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
background: crimson!important;
}
/* contact section styling start */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
font-size: 20px; 
font-weight: 600;
margin-bottom: 10px;   
}
.contact .contact-content .left p{
  text-align: justify;  
}
.contact .contact-content .left .icons{
margin:10px 0
}
.contact .contact-content .row{
  display: flex; 
  height:65px ; 
  align-items: center;
}
.contact .contact-content .row .info{
margin-left: 30px;
}
.contact .contact-content .row i{
font-size: 25px;
color: crimson;
}
.contact .contact-content .info
.head{
font-weight: 500;
}
.contact .contact-content .info .sub-title{
color: #333;
}
.contact .right form .fields{
display: block;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;  
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .field input, .contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey ;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email {
    margin-top: 10px;
}
.contact .right form .subject {
margin-top: 10px;
margin-bottom: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 170px;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.button{
    margin-bottom: 10px;
}
.contact .right form .button{
height: 47px;
width: 100%;
}
.contact .right form .button button {
width: 100px;
height: 100%;
border: 2px solid crimson;
background-color: crimson;
color: white;
font-size: 20px;
font-weight: 500;
border-radius: 6px;
cursor: pointer;
transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background:none;
}
.textarea{
    height: 400px;
}
/* footer section styling */
footer{
    background: #111;
    padding: 20px 23px;
    color: white;
}
footer span a{
color:crimson ;
text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.navbar .menu li a{
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition:color 0.3s ease;
}
.home{
    padding-left: 2rem;
    padding-right: 2rem;
}
/* kc styling */
.about{
    margin-left: 2%;
    margin-right: 2%;   
}
.skills{
    margin-left: 2%;
    margin-right: 2%;
}
.services{
    margin-left: 2%;
    margin-right: 2%;
}
.about img{
  width: 45vw;  
  margin-right: 4vw;
  padding-top: 1rem;

}
.about p{
    padding-bottom: 2rem;
}
.about a{
    color:black;
    padding: 1%;
    background-color: skyblue;
}
.about .generalabout{
    display: flex;
}
.about .typingabout{
    font-size: 20px;
    color:crimson;
}
/* media query */
@media(max-width:667px) {
    .menu-btn {
        color: #fff;
        font-size: 23px;
        z-index: 999;
        display: block;
    }

    .max-width {
        padding: 0 20px;
    }
        .skills .skills-content .column,
        .contact .contact-content .column {
            
        }
    .navbar .menu {
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .navbar .menu.active {
        left: 0;

    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }
    .about{
        height: 200vh;
    }
    .about img{
        width: 80vw;
        height: 80vh;
    }
    .home{
        height: 150vh;
    }
    .about .generalabout{
        display: block;
        ;
        
    }
    .about .text,.about p{
        width: 100vw;
        padding: 2%;
    }
    .about .about-content{
        width: 90vw;
        border: 3px solid green;
    }
    .about img{
        width: 88vw;
        height: 88vh;
        
    }
    .skills{
        height: 100vh;
    }
    .projects{
        height: 1150vh;
        
    }
    .projects .title{
        margin-top: 2rem;
    }
    .projects .projects-content img{
align-content: center;
    
    }
    .projects img{
        width: 80vw;
        height: 80vh;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/* kc additional styling */
