.logoimage{
width: 7rem;
height: 7rem;
}
.ncreationsheader{
    width: 100%;
    height: 8rem;
    background-color: black;
    display: flex;
    flex-direction: row;

}
p{
    
}
.generalbody{
    
}
body{
    padding: 5px;
    border-right: 10px solid skyblue;
}
.abouttext{
    width: 70%;
font-size: 25px;
}
.mainabouttext{
display: block;
    font-size: 16px;
    width: 100%;
}
div{
    width: 100%;
}
.aboutdiv{
    
   padding: 1rem;
    color: black;
}
body{
    background-color:white;
}
.titleofabout{
    padding: 0.5rem;
    width: 14rem;
    margin-left: 0.5rem;
    color: black;
    border: 3px solid black;
    background-color: skyblue;
}
        
.achievement{
    font-size: 25px;
    width: 100%;
}
