<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>N_CREATIONZ</title>
</head>

<body>

    <div class="generalbody">
        <div class="ncreationsheader">
            <img th:src="@{/images/ncreationzlogo.jpg}" alt="backgroundimage" class="logoimage">
            <p style="font-size: 26px;color: white;">N_CREATIONZ DESIGN PLATFORM</p>
        </div>
        <div>
            

                    <a class="navbar-brand" th:href="@{/index}">Home</a>
                                <a class="nav-link active" aria-current="page" href="#">About</a>
                                <a class="nav-link" href="#">Projects</a>
                                <a class="nav-link" href="#">Skills</a>
                    
            
            
        </div>
        <h1 class="titleofabout">About Me</h1>
        <div class="aboutdiv">
            <div class="aboutimagephotodiv">
                <img th:src="@{/images/clementphoto.jpg}" alt="aboutimagephoto" class="img-fluid">
            </div>
            <div class="mainabouttext">
        <p class="abouttext">My name is Clement Chinonso Eze, Graduate from the department of Fine and 
            Applied Art, Nnamdi Azikiwe University Awka, Anambra State
            . A graphic designer and an artist with over 4 years experience.
            I have created so many brand designs for notable companies and upcoming
            small scale businesses for the purpose of publicity and advertising

        </p>
        <h3>Achievements</h3>
        <p class="achievement">I have been opportuned to handle ui/ux designs for different business brands such as 1.Immaculate
            bakery. Nikki.Obeauty
        </p>
        
        </div>
        
        </div>
        </div>
    </div>

</body>

</html>