<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Document</title>
</head>

<body>

    <div class="generalbody">
        <div class="ncreationsheader">
            <img th:src="@{/images/ncreationzlogo.jpg}" alt="backgroundimage" class="logoimage">
            <p style="font-size: 26px;color: white;">N_CREATIONZ DESIGN PLATFORM</p>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/index}">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Skills</a>
                            </li>
                        </ul>
                        <span class="navbar-text">

                        </span>
                    </div>
                </div>
            </nav>
            
        </div>
        <h1 class="titleofabout">About Me</h1>
        <div class="aboutdiv">
            
            <div class="mainabouttext">
        <p class="abouttext">My name is Clement Chinonso Eze, Graduate from the department of Fine and 
            Applied Art, Nnamdi Azikiwe University Awka, Anambra State
            . A graphic designer and an artist with over 4 years experience.
            I have created so many brand designs for notable companies and upcoming
            small scale businesses for the purpose of publicity and advertising

        </p>
        <h3>Achievements</h3>
        <p class="achievement">I have been opportuned to handle ui/ux designs for different business brands such as 1.Immaculate
            bakery. Nikki.Obeauty
        </p>
        
        </div>
        <div class="clementimage">
            <img th:src="@{/images/clementphoto.jpg}" alt="aboutimagephoto" class="aboutimage">
        </div>
        </div>
        </div>
    </div>

</body>

</html>