<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <title>Ncreationz Site</title>
    <link rel="stylesheet" th:href="@{'/css/carousel.min.css'}">
</head>

<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="">NCreationz Portfo<span>lio.</span></a>
            </div>
            <ul class="menu">
                <li> <a href="#home" class="menu-btn">Home</a></li>
                <li> <a th:href="@{'#about'}" class="menu-btn">About</a></li>
                <li><a th:href="@{'#services'}" class="menu-btn">Services</a> </li>
                <li><a href="#projects" class="menu-btn">Projects</a></li>
                <li><a href="#skills" class="menu-btn">Skills</a> </li>
                
                <li><a href="#footer" class="menu-btn">Contact</a> </li>

            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars">
                </i>
            </div>
        </div>
    </nav>
    <!-- Home Section Start -->
    <section class="home" id="home">
        <div class="max-width home-max-width">
            <div class="home-content">
                <div class="text-1">Hello, My name is</div>
                <div class="text-2">Clement Chinonso Eze</div>
                <div class="text-3">And I am a <span class="typing"></span> </div>
                <a href="#">Hire me</a>
                <div class="text-1">N_CREATIONZ is an aesthetic Graphics/Fashion design site designed
                    for the purpose of offering all types of graphics designs and apparel to target audience
                    . N_CREATIONZ in a nutshell is known for creating exclusive / premium designs for businesses and it's individual
                    clients for the purpose of publicity, aesthetics and advertising 
                </div>
            </div>
        </div>
    </section>
    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
               <div class="column left">
                   <img th:src="@{'/images/chinonsophoto.jpg'}" style="height: 80vh;
    width: 80vh;">
               </div> 
               <div class="columncontainer">
               <div class="column right">
                   <div class="text">
                       I'm Clement Chinonso Eze <span class="typingabout"></span>
                   </div>
                   <p>My name is Clement Chinonso Eze, Graduate from the department of Fine and
                    Applied Art, Nnamdi Azikiwe University Awka, Anambra State
                    . A graphic designer and an artist with over 4 years experience.
                    I have created so many brand designs for notable companies and upcoming
                    small scale businesses for the purpose of publicity and advertising</p>
                   <a href="./images/clementchinonsocv.pdf" download="clementchinonsocv.pdf">Download CV</a>
               </div>
            </div>
            </div>
        </div>
    </section>
<!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My services</h2>
            <div class="serv-content">
              <div class="card">
                 <div class="box">
                     <i class="fas fa-paint-brush"></i>
                     <div class="text">Banner/Logo designs</div>
                     <p>I draft and create aesthetic designs for logos and banner designs for business publicity and for other activities such as ceremonial event</p>
                 </div> 
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>                        <div class="text">Advertising</div>
                        <p>I implement designs for advertisement purpose</p>
                    </div>
                    <div class="card">
                        <div class="box">
                            <i class="fas fa-paint-brush"></i>                            <div class="text">Digital Painting </div>
                            <p>
                                I create designs for aesthetic drawings and painting using the core graphics technologies such as Adobe Photo Shop
                            </p>
                        </div>
                        <div class="card">
                            <div class="box">
                                <i class="fas fa-paint-brush"></i>                                <div class="text">House Painting</div>
                                <p>                      
     I put my design principles into practice in physical painting of building structures and other related services                      </p>
                            </div>
                            <i class="fas fa-paint-brush"></i>                                <div class="text"> Drawings</div>
                                <p>                      
     I specialize in drawings, such as pencil sketching, portrait drawings and other related services                    </p>
                            <div>
              </div>
              <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>                        <div class="text">Fashion Entrepreneur</div>
                    <p>I have an indepth practical knowledge of sewing apparels , specifically for Males</p>
                </div>
              </div>  
            </div>
                
        </div>
    </section>

    <!-- skills section start -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My Skills</h2>
        <div class="skills-content">
          <div class="column left">
              <div class="text">
                  My Creative Skills & experience.
              </div>
              <p>Graduate Artist with wide experience in publicity and advertising design. I have been able to create professional graphics designs for various brands such as logo,flyer,social media posters and corporate design </p>
              <a href="#">Read More</a>
          </div> 
          <div class="column right">
              <div class="bars">
                  <div class="info">
<span>Digital Painting</span>
<span>70%</span>
                  </div>
                  <div class="line html">

                  </div>
              </div>
            <div class="bars">
                <div class="info">
                    <span>Brand and Logo Designs</span>
                    <span>80%</span>
                </div>
                <div class="line css">
                
                </div>
            </div>
            <div class="bars">
                <div class="info">
                    <span>Manual Drawing</span>
                    <span>85%</span>
                </div>
                <div class="line javascript">
                
                </div>
            </div>
          </div>
            </div>
          </div> 
        </div>
    </div>
</section>
<!-- project section start -->

<section class="project" id="projects">
<div class="max-width">
    <h2>My Projects</h1>
        <h3>Brand Logo Designs</h3>
<img th:src="@{/images/fablogo.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/jaydivalogo.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/nikilogo.JPG}" alt="" width="300px" height="300px">
<img th:src="@{/images/imaclogo.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/neologo.jpg}" alt="" width="300px" height="300px">

<h3>Transit Branding/Designs</h3>
<img th:src="@{/images/transitmockup.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/transitone.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/transitonelogo.jpg}" alt="" width="300px" height="300px">

<h3>Corporate Designs</h3>
<img th:src="@{/images/corporate.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/tshirt.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/corporatecap.jpg}" alt="" width="300px" height="300px">
<img th:src="@{/images/jaydivainvoice.jpg}" alt="" width="300px" height="300px">
</div>
</section>
<!-- contact section start  -->
      <section class="contact" id="contact">
          <div class="max-width">
              <h2 class="title">Contact me</h2>
              <div class="contact-content">
                  <div class="column left">
<div class="text">Get in Touch</div>
<p>Get in touch with me here in online platform through this site by sending message below or through my phone contact number</p>
<div class="icons">
    <div class="row">
<i class="fas fa-user"></i>
<div class="info">
    <div class="head">Name:</div>
    <div class="sub-title">Clement Chinonso Eze</div>
</div>
    </div>
    <div class="row">
        <i class="fas fa-map-marker-alt"></i>
        <div class="info">
            <div class="head">Address:</div>
            <div class="sub-title">25B UGWUAJIE STREET ODENIGBO NSUKKA</div>
        </div>
    </div>
<div class="row">
    <i class="fas fa-envelope"></i>
    <div class="info">
        <div class="head">Email:</div>
        <div class="sub-title">clementnonso44@gmail.com</div>
    </div>
</div>
</div>
                  </div>
                  <div class="column right">
                      <div class="text">
                          Message Me
                      </div>
                      <form action="#">
                        <div class="fields">
                          <div class="field name">
                              <input type="text" placeholder="Name" required>
                          </div> <div class="field email">
                            <input type="email" placeholder="Email"
                            required>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject"
                            required
                            class="subject">
                        </div>
                        <div class="field textarea">
                            <textarea name="" id="" cols="100" rows="100" placeholder="Describe project" required></textarea>
                        </div>
                        <div class="button">
                         <button type="submit">Send message

                         </button>   
                        </div>
                        </div>  
                      </form>
                  </div>
                  </div>
    </div>
      </section> 
      <!-- footer section start
     -->
     <footer id="footer">
         <span>Powered By <a href="#">CodeBlaze</a>| <span class="far fa-copyright">

         </span> 2022 All rights reserved</span>
     </footer>
<script th:src="@{'/js/jq.js'}"></script>
    <script th:src="@{'/js/script.js'}"></script>
    <script th:src="@{'/js/fontawesome.min.js'}"></script>
    <script th:src="@{'/js/waypoint.min.js'}"></script>
    <script th:src="@{'/js/owlcarousel.min.js'}"></script>
    <script th:src="@{'/js/mytyped.min.js'}"></script>
    
</body>

</html>
<!-- stopped at 1:32:00  of portfolio -->
