<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>N_CREATIONZ</title>
</head>
<body>
    <div>
<div class="ncreationsheader">
<img th:src="@{/images/ncreationzlogo.jpg}" alt="backgroundimage" class="logoimage">
<p style="font-size: 26px;color: white;">N_CREATIONZ DESIGN PLATFORM</p>
</div>
<div>
<div class="navdiv">
    <a class="navbar-brand" th:href="@{/index}">Home</a>
    <a class="nav-link active" aria-current="page" th:href="@{/about}">About</a>
    <a class="nav-link" href="#">Projects</a>
    <a class="nav-link" href="#">Skills</a>
</div>
<p class="homeintro">N_CREATIONZ is an aesthetic Graphics/Fashion design site designed 
    for the purpose of offering all types of graphics designs and apparel to target audience
</p>
</div>
    </div>
   
</body>
</html>